html {
  background-color: #5C5D60;
  background-image: url("images/bg.gif");
  background-repeat: repeat-x;
}

body {
  padding-top: 40px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

a {
  color: #09C;
}

.actions {
  background-color: #222222;
}

strong {
  color: #B9B9B9;
}