!!! 5
html(lang='en')
  head
    title Accel Viz
    link(rel='stylesheet', href='accel-viz.css')
    script(src='http://code.jquery.com/jquery-1.5.2.js')
    script(src='jquery.flot.js')
    script(src='http://cdn.buglabs.net/swarm/test/swarm-v0.3.2.js')

  body
    
    h2 Acceleration Data Visualization Using Flot
    #placeholder

    script(src='accel-viz.js')